.projects--grid

  for project in projects
    .project
      .description
        .project--name
          a(href=project.link, target='_blank', title=project.title)= project.name
        .project--lang= project.lang
        .project--features= project.features

      a.project--img(href=project.link, target='_blank', title=project.title)
        .bg-img(data-bg=project.image)
          .overlay